# ================================
# FRONTEND (Vite)
# ================================
VITE_PUBLIC_API_URL=https://your-backend-name.onrender.com

# ================================
# BACKEND
# ================================
DATABASE_URL=postgresql://postgres:Sahithi%409657@localhost:5433/intern

SMTP_USER=sahithipasam06@gmail.com
SMTP_PASS=xhfvpbgziyjcfnex

APP_URL=https://internship-two-mu.vercel.app
FRONTEND_URL=https://internship-two-mu.vercel.app 

NODE_ENV=production